body {
  font-family: "Courier New", Courier, monospace;
}

.title {
  background-color: rgb(54, 38, 160);
  color: whitesmoke;
  font-size: 200%;
  text-align: center;
  line-height: 700%;
  z-index: 1;
}

.curving-header {
  border-radius: 20%;
  margin-top: -80px;
  background-image: url("./images/blue_guitar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  text-align: center;
  padding-top: 32px;
  color: rgb(75, 8, 36);
  display: inline-flex;
}

.light-text {
  color: whitesmoke;
}

.song {
  display: none;
  text-align: left;
  margin: 0 30%;
  padding: 48px 0 32px 0;
  white-space: pre;
}

.get_message {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(54, 38, 160);
  font-size: 16px;
  height: 48px;
  width: 150px;
  border-radius: 10%;
  border: 1px silver solid;
  cursor: pointer;
}

.get_message:hover {
  background-color: indigo;
}

.btn-container {
  text-align: center;
  padding-top: 48px;
}

footer {
  margin-top: 128px;
  text-align: right;
}
